# Object files
*.o
.dep
*.hex
*.bin

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Eclipse files
.cproject
.project
.settings

# external and objdirs
lufa
phatio
support/crc_hexfile
support/make_fs
